html
  head
    title score bord
  body
    form(action='/store', method='post')
      | Name
      input(type='textbox', name='Name')
      br
      | Score
      input(type='textbox', name='score')
      br
      input(type='submit', value='submit')
      a(href='http://localhost:3000/showList') show